# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# visual studio
.vscode/
.devcontainer/
build/
.vs/
CMakeSettings.json
*.sln
*.vcxitems
*.vcxproj
*.filters
Debug/
out/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt

# Clion
cmake-build*
.idea/

# cmake
.cache/
Makefile
.build/

# project specific
cpp-terminal/version.h
