name: Linux CI

on: [push, pull_request]

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v1.12
      with:
        cmake-version: '3.24.x'
        github-api-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build
      run: bash ci/compile_test.sh

    - name: Test      
      run: bash ci/tests.sh

    - name: Standalone
      run: cmake -DCMAKE_INSTALL_PREFIX=./standalone-install -DCMAKE_PREFIX_PATH=./install/ -S ./tests/test-standalone -B ./standalone-build; cmake --build ./standalone-build --config Release; cmake --install ./standalone-build --config Release
