name: pre-commit Check
on: [push, pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: pre-commit
        uses: pre-commit/action@v3.0.0
